[paths]
source =
   src/autoCorrect
   */site-packages/autoCorrect

[run]
branch = true
source =
    autoCorrect
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
